.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.container::after {
  content: '';
  background-image: url('../image/pngwing.com.png');
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;

  background-repeat: no-repeat;
  background-position: center;
}

.title {
  color: rgb(4, 4, 4);
}
