.list {
  margin-bottom: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid green;
  padding: 5px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

button {
  display: block;
  padding: 8px 12px;
  font-weight: var(--primary-font-weight);
  background-color: rgb(244, 52, 52);
  border: 2px solid red;
  border-radius: 4px;
  cursor: pointer;
}
